header {
  width: 100%;
  height: 80px;
  padding: 20px 0;
  margin-bottom: 20px !important;

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .back-button {
      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 30px;
        color: #B1B9D8;
        text-decoration: none;
      }
    }

    .change-grid {
      display: flex;
      align-items: center;
      justify-content: center;

      .grid-type {
        display: flex;

        span {
          display: block;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 2px solid #1A2036;

          &.selected {
            background-color: #1A2036;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            img {
              transform: rotate(90deg);
            }
          }
        }
      }

    }
  }
}